/*IMPORT*/
@import "fuentes";
@import "fondo";
@import "button";

/*mixin*/
@mixin cntimg(){
    width: 55px;
    height: 55px;
    text-align: center;
}

#cnt1imdservicios{
    @include cntimg();
}
#cnt1imdcontacto{
    @include cntimg();
}

.divinfo{
    /*Modelo*/
    display: flex;
    width: 80%;
    height: 200px;
    padding: auto;
    margin: auto;
   background: rgb(53, 53, 53);
    /*tipografia*/
    font-family: $font-parrafo;
}

#divcont{
    /*Modelo*/
     width: 35%;
     height: 170px;
     margin: 20px;
     padding: 10px;
    /* text-decoration: none;*/
     /*tipografia*/
     font-family: $font-parrafo;
     color: white;
 }

/*Variables globales*/
$color-titulo: black;


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Raleway:ital,wght@0,500;1,900&family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Moon+Dance & family= Raleway:ital,wght@0,500;1,900 & family= Ubuntu:ital,wght@0,700;1,700 & mostrar=cambiar');

h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 58px;
}
span{
    display: flex;
}
.card{
    margin: auto;
}

#titulo1{
    /*Modelo*/
    color: $color-titulo;
    text-align: center;
}

#titulosubage{
    color: black;
    text-align: center;
}

#TituloGeneral{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px; 
    color: $color-titulo;  
}

#titulosomos{
    /*Modelo*/
    color: $color-titulo;
    text-align: center;
    font-size: 50px;
}

#piedepagina{
    /*Modelo*/
    background: rgb(143, 143, 143);
    text-align: center;
}

#cnt1imdindex{
    @include cntimg();
}

#parrafo1{
    font-family: $font-parrafo;
    font-size: $font-size;
}

a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    background: #198754;
    border-radius: 5px;
    color: white;
    padding: 3px;
    cursor: pointer;
}

a:link{
    color: blue;
    font-weight: bold
}



/*CSS CONSTRUCCION*/
